{% extends '_layouts/detail.njk' %}
{% block photo %}<img src="img/kraken03.jpg" alt="another pirate character" class="img-fluid">{% endblock %}
{% block page_title %}Calm & Collected{% endblock %}

{% block story %}
  <h2>Calm and Collected</h2>
  <h5>Captain's log, Oct. 20, 2018</h5>
  <p>Look! The moonlight shows us for what we really are! We are not among the living, and so we cannot die. But neither are we dead! For too long, I've been parched of thirst and unable to quench it. Too long I've been starvin' to death and haven't died. I feel nothin'. Not the wind on my face nor the spray of the sea, nor the warmth of a woman's flesh. You best start believin' in ghost stories, Miss Turner. You're in one!</p>
{% endblock %}