{% extends '_layouts/detail.njk' %}

{% block page_title %}Cuttlefish{% endblock %}

{% block story %}
  <h2>Cuttlefish Friends</h2>
  <h5>Captain Jack Sparrow's log, Oct. 18, 2018</h5>
  <p>Whos boons? Your boons? Utterly deceptive twaddle-speak, says I. Cuttlefish. Aye. Let us not, dear friends, forget our dear friends, the cuttlefish. Flipping glorious little sausages. Pen them up together, they'll devour each other without a second thought. Human nature, isn't it? Or....fish nature. So, yes, we could hole up here well-provisioned and well-armed. Half of us would be dead within the month. Which seems quite grim to me, any way you slice it.. Or...uh....as my learned colleague so naively suggests, we can release Calypso, and we can pray that she will be merciful.....</p>
{% endblock %}