{% extends '_layouts/base.njk' %}

{% block page_title %}Pirates of the Caribbean{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-9 offset-sm-2">
    <h1>"Wherever we want to go, we'll go" </h1>
    <p class="author">By Jack Sparrow</p>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9 offset-sm-2">
      <p>
        The only rules that really matter are these: what a man can do and what a man can’t do. For instance, you can accept the fact that your father was a pirate and a good man or you can’t. But pirate is in your blood, boy, so you’ll have to square with that someday. And me, for example, I can let you drown, but I can’t bring this ship into Tortuga all by me onesies, savvy? So, can you sail under the command of a pirate, or can you not?
      </p>
      {% for entry in data.entries %}
         <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
          <p class="entry-date">{{ entry.date }}</p>
          <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
